@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin-left: 5px;
}
h1 {
    color: rgb(202, 84, 223);
}

span {
    display: inline-block;
    margin-top: 20px;
}