@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin-left: 5px;
}
h1 {
    color: rgb(202, 84, 223);
}
table{
    margin: 25px 5px;
}
table thead tr{
    background: #3794fe;
}

table thead tr th {

 padding: 2px 10px;
 text-align: center;
}

table tbody tr{
    text-align: center;
    background: rgb(191, 236, 234);
}
table tbody tr td{
    border-color:1px solid black;
}